.Navbar{
    margin-left: 200px;
    display: flex;
    justify-content: space-around;
   
}

.search input{
    width: 700px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(187, 187, 187);
}

.buttons{
    display: flex;
    gap: 10px;
}

.buttons button{
    padding: 5px;
}

.blank{
    width: 720px;
    height: 37px;
}

.loading{
    margin-left: 100px;
}