.container {
    width: 85%;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 20px 50px;
    margin: 20px 80px;
    background-color: #f9f9f9;
    color: black;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formContent label {
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.import{
    display: flex;
    justify-content: flex-end;
}

.excel button, .import button{
    padding: 10px;
}

.formContent select,
.formContent input,
.formContent textarea {
    padding: 10px;
    border: 1px solid #9b9b9b;
    border-radius: 4px;
    outline-color: #9b9b9b;
    font-family: Arial, Helvetica, sans-serif;
}

.formContent select:focus,
.formContent input:focus,
.formContent textarea:focus {
    border-color: rgb(252, 156, 48);
    outline: none;

}

.formContent input[type="file"] {
    border: none;
}

.models {
    display: flex;
    flex-direction: column;
}

.images {
    color: black;
    list-style: none;
    font-size: smaller;
    display: flex;
    gap: 10px;
    margin-left: 30px
}

.Button {
    display: flex;
    justify-content: center;
    align-items: center;
}



.info {
    color: #808080;
    font-size: 14px;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 0.2em;
}

.formContent button {
    background-color: #ff8c00;
}

.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagePreview {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.imageContainer {
    position: relative;
    width: 120px;
    height: 150px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.imageActions {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.imageActions label {
    font-size: 12px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#remove {
    background: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 2px;
    cursor: pointer;
    padding: 0;
}

#remove img {
    width: 15px;
    height: 15px;
}

.imageActions input[type="checkbox"] {
    margin-right: 5px;
}

.error {
    color: red;
    font-size: 14px;
}

.addButton{
    justify-content: center;
}