@font-face {
    font-family: 'Bangers'; 
    src: url('../../../../Themes/Fonts/Bangers/Bangers-Regular.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}

.dashboard{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
    width: 100%;

}

.sidebarContainer {
    width: 250px;
    height: 100vh;
    background-color: #0e141a;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
}

.sideButtons{
    display: flex;
    justify-content:left;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin: 10px;
}

.sideButtons img{
    box-sizing: border-box;
    margin: 5px;
}

.sidebarContainer button{
    width: 100%;
    font-size: 20px;
    color: white;
    text-align: left;
}
  
.sidebarContainer h1 {
    margin-bottom: 20px;
    font-family: "Bangers";
    cursor: default;
    font-size: 40px;
    color: rgb(252, 156, 48);
}
  
.tabContent {
    margin-top: 20px;
    color: #075b70;
    margin-left: 250px;
    width: 100%;
}

.settings{
    margin: 0 30px;
}

.settings .sideButtons{
    margin: 0;
}

.settings button{
    font-size: 18px;
}

  